<p>Cześć, {{ name }}, <br>
    Twój adres e-mail w aplikacji {{ appName }} został zmieniony.</p>

Kliknij w poniższy link, aby potwierdzić zmianę adresu e-mail: <br>
<p>
    <a href="{{ link }}">Link</a>
</p>

Pozdrawiamy, <br>
Zespół {{ appName }}